# Scaling

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Payment_Info.csv")

In [3]:
df.head(3)

,customer_id,contract,paperless_billing,payment_method,monthly_ charges,avg_monthly_long_distance_charges,total_charges,total_refunds,total_extra_data_charges,total_long_distance_charges,total_revenue
0,0002-ORFBO,One Year,Yes,Mailed check,65.6,42.39,593.30,0.00,0,381.51,974.81
1,0003-MKNFE,Month-to-Month,No,Mailed check,59.9,10.69,542.40,38.33,10,96.21,610.28
2,0004-TLHLJ,Month-to-Month,Yes,Electronic check,73.9,33.65,280.85,0.00,0,134.60,415.45

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   customer_id                        7043 non-null   object
 1   contract                           7043 non-null   object
 2   paperless_billing                  7043 non-null   object
 3   payment_method                     7043 non-null   object
 4   monthly_ charges                   7043 non-null   float64
 5   avg_monthly_long_distance_charges  7043 non-null   float64
 6   total_charges                      7043 non-null   float64
 7   total_refunds                      7043 non-null   float64
 8   total_extra_data_charges           7043 non-null   int64
 9   total_long_distance_charges        7043 non-null   float64
 10  total_revenue                      7043 non-null   float64
dtypes: float64(6), int64(1), object(4)
memory usage: 605.4+ KB

In [4]:
df.isnull().sum()

customer_id                          0
contract                             0
paperless_billing                    0
payment_method                       0
monthly_ charges                     0
avg_monthly_long_distance_charges    0
total_charges                        0
total_refunds                        0
total_extra_data_charges             0
total_long_distance_charges          0
total_revenue                        0
dtype: int64

In [6]:
categorical_col=df.select_dtypes(include=["object","category"]).columns.tolist()
categorical_col

['customer_id', 'contract', 'paperless_billing', 'payment_method']

In [7]:
# one-hot Encoding 
# get_dummies

one_hot=pd.get_dummies(df, columns=categorical_col, drop_first=True)
one_hot

,monthly_ charges,avg_monthly_long_distance_charges,total_charges,total_refunds,total_extra_data_charges,total_long_distance_charges,total_revenue,customer_id_0003-MKNFE,customer_id_0004-TLHLJ,customer_id_0011-IGKFF,...,customer_id_9992-RRAMN,customer_id_9992-UJOEL,customer_id_9993-LHIEB,customer_id_9995-HOTOH,contract_One Year,contract_Two Year,paperless_billing_Yes,payment_method_Credit card (automatic),payment_method_Electronic check,payment_method_Mailed check
0,65.60,42.39,593.30,0.00,0,381.51,974.81,False,False,False,...,False,False,False,False,True,False,True,False,False,True
1,59.90,10.69,542.40,38.33,10,96.21,610.28,True,False,False,...,False,False,False,False,False,False,False,False,False,True
2,73.90,33.65,280.85,0.00,0,134.60,415.45,False,True,False,...,False,False,False,False,False,False,True,False,True,False
3,98.00,27.82,1237.85,0.00,0,361.66,1599.51,False,False,True,...,False,False,False,False,False,False,True,False,True,False
4,83.90,7.38,267.40,0.00,0,22.14,289.54,False,False,False,...,False,False,False,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,55.15,46.68,742.90,0.00,0,606.84,1349.74,False,False,False,...,False,False,False,False,True,False,False,False,False,True
7039,85.10,16.20,1873.70,0.00,0,356.40,2230.10,False,False,False,...,True,False,False,False,False,False,True,False,True,False
7040,50.30,18.62,92.75,0.00,0,37.24,129.99,False,False,False,...,False,True,False,False,False,False,True,False,False,True
7041,67.85,2.12,4627.65,0.00,0,142.04,4769.69,False,False,False,...,False,False,True,False,False,True,False,False,False,True
7042,59.00,0.00,3707.60,0.00,0,0.00,3707.60,False,False,False,...,False,False,False,True,False,True,False,False,True,False

In [9]:
df=one_hot

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Columns: 7055 entries, monthly_ charges to payment_method_Mailed check
dtypes: bool(7048), float64(6), int64(1)
memory usage: 47.7 MB

In [11]:
df.astype(int)

,monthly_ charges,avg_monthly_long_distance_charges,total_charges,total_refunds,total_extra_data_charges,total_long_distance_charges,total_revenue,customer_id_0003-MKNFE,customer_id_0004-TLHLJ,customer_id_0011-IGKFF,...,customer_id_9992-RRAMN,customer_id_9992-UJOEL,customer_id_9993-LHIEB,customer_id_9995-HOTOH,contract_One Year,contract_Two Year,paperless_billing_Yes,payment_method_Credit card (automatic),payment_method_Electronic check,payment_method_Mailed check
0,65,42,593,0,0,381,974,0,0,0,...,0,0,0,0,1,0,1,0,0,1
1,59,10,542,38,10,96,610,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,73,33,280,0,0,134,415,0,1,0,...,0,0,0,0,0,0,1,0,1,0
3,98,27,1237,0,0,361,1599,0,0,1,...,0,0,0,0,0,0,1,0,1,0
4,83,7,267,0,0,22,289,0,0,0,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,55,46,742,0,0,606,1349,0,0,0,...,0,0,0,0,1,0,0,0,0,1
7039,85,16,1873,0,0,356,2230,0,0,0,...,1,0,0,0,0,0,1,0,1,0
7040,50,18,92,0,0,37,129,0,0,0,...,0,1,0,0,0,0,1,0,0,1
7041,67,2,4627,0,0,142,4769,0,0,0,...,0,0,1,0,0,1,0,0,0,1
7042,59,0,3707,0,0,0,3707,0,0,0,...,0,0,0,1,0,1,0,0,1,0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Columns: 7055 entries, monthly_ charges to payment_method_Mailed check
dtypes: bool(7048), float64(6), int64(1)
memory usage: 47.7 MB

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   customer_id                        7043 non-null   object
 1   contract                           7043 non-null   object
 2   paperless_billing                  7043 non-null   object
 3   payment_method                     7043 non-null   object
 4   monthly_ charges                   7043 non-null   float64
 5   avg_monthly_long_distance_charges  7043 non-null   float64
 6   total_charges                      7043 non-null   float64
 7   total_refunds                      7043 non-null   float64
 8   total_extra_data_charges           7043 non-null   int64
 9   total_long_distance_charges        7043 non-null   float64
 10  total_revenue                      7043 non-null   float64
dtypes: float64(6), int64(1), object(4)
memory usage: 605.4+ KB

In [5]:
categorical_col=df.select_dtypes(include=["object","category"]).columns.tolist()
categorical_col

['customer_id', 'contract', 'paperless_billing', 'payment_method']

In [6]:
# OneHot encoding

from sklearn.preprocessing import OneHotEncoder
one_hot=OneHotEncoder(sparse_output=False,drop="first")# one_hot deb o'zgaruvchini belgilab oldik
df_encoded=one_hot.fit_transform(df[categorical_col]) # numericalga o'tish(transform qilish)

In [7]:
df_encoded

array([[0., 0., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 1., 0.]], shape=(7043, 7048))

In [9]:
df_encoded_col=one_hot.get_feature_names_out(categorical_col)

In [10]:
df_encoded_col

array(['customer_id_0003-MKNFE', 'customer_id_0004-TLHLJ',
       'customer_id_0011-IGKFF', ...,
       'payment_method_Credit card (automatic)',
       'payment_method_Electronic check', 'payment_method_Mailed check'],
      shape=(7048,), dtype=object)

In [11]:
# yangi ochilgan ustunlarni datasetga qo'shish va eskilarini o'chirib tashlash

df_encoded = pd.DataFrame(df_encoded)  
df = pd.concat([df.drop(columns=categorical_col), df_encoded], axis=1)

In [12]:
df_encoded.head()

,0,1,2,3,4,5,6,7,8,9,...,7038,7039,7040,7041,7042,7043,7044,7045,7046,7047
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [13]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Columns: 7048 entries, 0 to 7047
dtypes: float64(7048)
memory usage: 378.7 MB

In [6]:
df.head(3)

,customer_id,contract,paperless_billing,payment_method,monthly_ charges,avg_monthly_long_distance_charges,total_charges,total_refunds,total_extra_data_charges,total_long_distance_charges,total_revenue
0,0002-ORFBO,One Year,Yes,Mailed check,65.6,42.39,593.30,0.00,0,381.51,974.81
1,0003-MKNFE,Month-to-Month,No,Mailed check,59.9,10.69,542.40,38.33,10,96.21,610.28
2,0004-TLHLJ,Month-to-Month,Yes,Electronic check,73.9,33.65,280.85,0.00,0,134.60,415.45

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   customer_id                        7043 non-null   object
 1   contract                           7043 non-null   object
 2   paperless_billing                  7043 non-null   object
 3   payment_method                     7043 non-null   object
 4   monthly_ charges                   7043 non-null   float64
 5   avg_monthly_long_distance_charges  7043 non-null   float64
 6   total_charges                      7043 non-null   float64
 7   total_refunds                      7043 non-null   float64
 8   total_extra_data_charges           7043 non-null   int64
 9   total_long_distance_charges        7043 non-null   float64
 10  total_revenue                      7043 non-null   float64
dtypes: float64(6), int64(1), object(4)
memory usage: 605.4+ KB

In [9]:
categorical_col=df.select_dtypes(include=["object","category"]).columns.tolist()
categorical_col

['customer_id', 'contract', 'paperless_billing', 'payment_method']

In [11]:
# Label Encoding

from sklearn.preprocessing import LabelEncoder

In [13]:
label_encoder=LabelEncoder()
df[categorical_col]=df[categorical_col].apply(label_encoder.fit_transform)

In [14]:
df.head(3)

,customer_id,contract,paperless_billing,payment_method,monthly_ charges,avg_monthly_long_distance_charges,total_charges,total_refunds,total_extra_data_charges,total_long_distance_charges,total_revenue
0,0,1,1,3,65.6,42.39,593.30,0.00,0,381.51,974.81
1,1,0,0,3,59.9,10.69,542.40,38.33,10,96.21,610.28
2,2,0,1,2,73.9,33.65,280.85,0.00,0,134.60,415.45

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   customer_id                        7043 non-null   int64
 1   contract                           7043 non-null   int64
 2   paperless_billing                  7043 non-null   int64
 3   payment_method                     7043 non-null   int64
 4   monthly_ charges                   7043 non-null   float64
 5   avg_monthly_long_distance_charges  7043 non-null   float64
 6   total_charges                      7043 non-null   float64
 7   total_refunds                      7043 non-null   float64
 8   total_extra_data_charges           7043 non-null   int64
 9   total_long_distance_charges        7043 non-null   float64
 10  total_revenue                      7043 non-null   float64
dtypes: float64(6), int64(5)
memory usage: 605.4 KB

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   customer_id                        7043 non-null   object
 1   contract                           7043 non-null   object
 2   paperless_billing                  7043 non-null   object
 3   payment_method                     7043 non-null   object
 4   monthly_ charges                   7043 non-null   float64
 5   avg_monthly_long_distance_charges  7043 non-null   float64
 6   total_charges                      7043 non-null   float64
 7   total_refunds                      7043 non-null   float64
 8   total_extra_data_charges           7043 non-null   int64
 9   total_long_distance_charges        7043 non-null   float64
 10  total_revenue                      7043 non-null   float64
dtypes: float64(6), int64(1), object(4)
memory usage: 605.4+ KB

In [6]:
categorical_col=df.select_dtypes(include=["object","category"]).columns.tolist()
categorical_col

['customer_id', 'contract', 'paperless_billing', 'payment_method']

In [8]:
from sklearn.preprocessing import LabelEncoder

In [10]:
# label encoding for loop bilan

label_encoder=LabelEncoder()

for col in  categorical_col:
    df[col]=label_encoder.fit_transform(df[col])

In [11]:
df.head(2)

,customer_id,contract,paperless_billing,payment_method,monthly_ charges,avg_monthly_long_distance_charges,total_charges,total_refunds,total_extra_data_charges,total_long_distance_charges,total_revenue
0,0,1,1,3,65.6,42.39,593.3,0.00,0,381.51,974.81
1,1,0,0,3,59.9,10.69,542.4,38.33,10,96.21,610.28

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   customer_id                        7043 non-null   int64
 1   contract                           7043 non-null   int64
 2   paperless_billing                  7043 non-null   int64
 3   payment_method                     7043 non-null   int64
 4   monthly_ charges                   7043 non-null   float64
 5   avg_monthly_long_distance_charges  7043 non-null   float64
 6   total_charges                      7043 non-null   float64
 7   total_refunds                      7043 non-null   float64
 8   total_extra_data_charges           7043 non-null   int64
 9   total_long_distance_charges        7043 non-null   float64
 10  total_revenue                      7043 non-null   float64
dtypes: float64(6), int64(5)
memory usage: 605.4 KB

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   customer_id                        7043 non-null   object
 1   contract                           7043 non-null   object
 2   paperless_billing                  7043 non-null   object
 3   payment_method                     7043 non-null   object
 4   monthly_ charges                   7043 non-null   float64
 5   avg_monthly_long_distance_charges  7043 non-null   float64
 6   total_charges                      7043 non-null   float64
 7   total_refunds                      7043 non-null   float64
 8   total_extra_data_charges           7043 non-null   int64
 9   total_long_distance_charges        7043 non-null   float64
 10  total_revenue                      7043 non-null   float64
dtypes: float64(6), int64(1), object(4)
memory usage: 605.4+ KB

In [5]:
categorical_col=df.select_dtypes(include=["object","category"]).columns.tolist()
categorical_col

['customer_id', 'contract', 'paperless_billing', 'payment_method']

In [6]:
# Frequency encoding

df[categorical_col]=df[categorical_col].apply(lambda col:col.map(col.value_counts()))

In [7]:
df.head(3)

,customer_id,contract,paperless_billing,payment_method,monthly_ charges,avg_monthly_long_distance_charges,total_charges,total_refunds,total_extra_data_charges,total_long_distance_charges,total_revenue
0,1,1550,4171,1612,65.6,42.39,593.30,0.00,0,381.51,974.81
1,1,3610,2872,1612,59.9,10.69,542.40,38.33,10,96.21,610.28
2,1,3610,4171,2365,73.9,33.65,280.85,0.00,0,134.60,415.45

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   customer_id                        7043 non-null   int64
 1   contract                           7043 non-null   int64
 2   paperless_billing                  7043 non-null   int64
 3   payment_method                     7043 non-null   int64
 4   monthly_ charges                   7043 non-null   float64
 5   avg_monthly_long_distance_charges  7043 non-null   float64
 6   total_charges                      7043 non-null   float64
 7   total_refunds                      7043 non-null   float64
 8   total_extra_data_charges           7043 non-null   int64
 9   total_long_distance_charges        7043 non-null   float64
 10  total_revenue                      7043 non-null   float64
dtypes: float64(6), int64(5)
memory usage: 605.4 KB

In [7]:
df.head()

,customer_id,contract,paperless_billing,payment_method,monthly_ charges,avg_monthly_long_distance_charges,total_charges,total_refunds,total_extra_data_charges,total_long_distance_charges,total_revenue
0,0002-ORFBO,One Year,Yes,Mailed check,65.6,42.39,593.30,0.00,0,381.51,974.81
1,0003-MKNFE,Month-to-Month,No,Mailed check,59.9,10.69,542.40,38.33,10,96.21,610.28
2,0004-TLHLJ,Month-to-Month,Yes,Electronic check,73.9,33.65,280.85,0.00,0,134.60,415.45
3,0011-IGKFF,Month-to-Month,Yes,Electronic check,98.0,27.82,1237.85,0.00,0,361.66,1599.51
4,0013-EXCHZ,Month-to-Month,Yes,Mailed check,83.9,7.38,267.40,0.00,0,22.14,289.54

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   customer_id                        7043 non-null   object
 1   contract                           7043 non-null   object
 2   paperless_billing                  7043 non-null   object
 3   payment_method                     7043 non-null   object
 4   monthly_ charges                   7043 non-null   float64
 5   avg_monthly_long_distance_charges  7043 non-null   float64
 6   total_charges                      7043 non-null   float64
 7   total_refunds                      7043 non-null   float64
 8   total_extra_data_charges           7043 non-null   int64
 9   total_long_distance_charges        7043 non-null   float64
 10  total_revenue                      7043 non-null   float64
dtypes: float64(6), int64(1), object(4)
memory usage: 605.4+ KB

In [9]:
categorical_col=df.select_dtypes(include=["object","category"]).columns.tolist()
categorical_col

['customer_id', 'contract', 'paperless_billing', 'payment_method']

In [10]:
# Target(mean) encoding

df[categorical_col]=df[categorical_col].apply(lambda col:col.map(df.groupby(col)["total_revenue"].mean()))

In [11]:
df.head()

,customer_id,contract,paperless_billing,payment_method,monthly_ charges,avg_monthly_long_distance_charges,total_charges,total_refunds,total_extra_data_charges,total_long_distance_charges,total_revenue
0,974.81,3981.802781,3346.382426,1546.938251,65.6,42.39,593.30,0.00,0,381.51,974.81
1,610.28,1707.060449,2581.257169,1546.938251,59.9,10.69,542.40,38.33,10,96.21,610.28
2,415.45,1707.060449,3346.382426,2693.556617,73.9,33.65,280.85,0.00,0,134.60,415.45
3,1599.51,1707.060449,3346.382426,2693.556617,98.0,27.82,1237.85,0.00,0,361.66,1599.51
4,289.54,1707.060449,3346.382426,1546.938251,83.9,7.38,267.40,0.00,0,22.14,289.54

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   customer_id                        7043 non-null   float64
 1   contract                           7043 non-null   float64
 2   paperless_billing                  7043 non-null   float64
 3   payment_method                     7043 non-null   float64
 4   monthly_ charges                   7043 non-null   float64
 5   avg_monthly_long_distance_charges  7043 non-null   float64
 6   total_charges                      7043 non-null   float64
 7   total_refunds                      7043 non-null   float64
 8   total_extra_data_charges           7043 non-null   int64
 9   total_long_distance_charges        7043 non-null   float64
 10  total_revenue                      7043 non-null   float64
dtypes: float64(10), int64(1)
memory usage: 605.4 KB

# Scaling

In [14]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler, RobustScaler # kutubxonadan chaqirib olish

In [15]:
# Standard Scaling 
standard_scaler = StandardScaler()
df_standard_scaled = pd.DataFrame(standard_scaler.fit_transform(df), columns=df.columns)

In [17]:
df.head(3)

,customer_id,contract,paperless_billing,payment_method,monthly_ charges,avg_monthly_long_distance_charges,total_charges,total_refunds,total_extra_data_charges,total_long_distance_charges,total_revenue
0,974.81,3981.802781,3346.382426,1546.938251,65.6,42.39,593.30,0.00,0,381.51,974.81
1,610.28,1707.060449,2581.257169,1546.938251,59.9,10.69,542.40,38.33,10,96.21,610.28
2,415.45,1707.060449,3346.382426,2693.556617,73.9,33.65,280.85,0.00,0,134.60,415.45

In [18]:
df_standard_scaled.head(3)

,customer_id,contract,paperless_billing,payment_method,monthly_ charges,avg_monthly_long_distance_charges,total_charges,total_refunds,total_extra_data_charges,total_long_distance_charges,total_revenue
0,-0.718872,0.681396,0.829798,-1.472255,0.027862,1.257916,-0.744500,-0.248313,-0.273300,-0.434195,-0.718872
1,-0.846108,-0.954620,-1.205113,-1.472255,-0.161583,-0.794260,-0.766962,4.602325,0.125055,-0.771190,-0.846108
2,-0.914111,-0.954620,0.829798,-0.337343,0.303720,0.692111,-0.882382,-0.248313,-0.273300,-0.725844,-0.914111

In [19]:
# Min-Max Scaling
min_max_scaler = MinMaxScaler()
df_min_max_scaled = pd.DataFrame(min_max_scaler.fit_transform(df), columns=df.columns)

In [20]:
df.head(3)

,customer_id,contract,paperless_billing,payment_method,monthly_ charges,avg_monthly_long_distance_charges,total_charges,total_refunds,total_extra_data_charges,total_long_distance_charges,total_revenue
0,974.81,3981.802781,3346.382426,1546.938251,65.6,42.39,593.30,0.00,0,381.51,974.81
1,610.28,1707.060449,2581.257169,1546.938251,59.9,10.69,542.40,38.33,10,96.21,610.28
2,415.45,1707.060449,3346.382426,2693.556617,73.9,33.65,280.85,0.00,0,134.60,415.45

In [21]:
df_min_max_scaled.head(3)

,customer_id,contract,paperless_billing,payment_method,monthly_ charges,avg_monthly_long_distance_charges,total_charges,total_refunds,total_extra_data_charges,total_long_distance_charges,total_revenue
0,0.079733,0.735659,1.0,0.000000,0.471144,0.847970,0.066294,0.000000,0.000000,0.107024,0.079733
1,0.049249,0.000000,0.0,0.000000,0.414428,0.213843,0.060420,0.769833,0.066667,0.026989,0.049249
2,0.032956,0.000000,1.0,0.452394,0.553731,0.673135,0.030239,0.000000,0.000000,0.037759,0.032956

In [22]:
# Robust Scaling 
robust_scaler = RobustScaler()
df_robust_scaled = pd.DataFrame(robust_scaler.fit_transform(df), columns=df.columns)

In [23]:
df.head()

,customer_id,contract,paperless_billing,payment_method,monthly_ charges,avg_monthly_long_distance_charges,total_charges,total_refunds,total_extra_data_charges,total_long_distance_charges,total_revenue
0,974.81,3981.802781,3346.382426,1546.938251,65.6,42.39,593.30,0.00,0,381.51,974.81
1,610.28,1707.060449,2581.257169,1546.938251,59.9,10.69,542.40,38.33,10,96.21,610.28
2,415.45,1707.060449,3346.382426,2693.556617,73.9,33.65,280.85,0.00,0,134.60,415.45
3,1599.51,1707.060449,3346.382426,2693.556617,98.0,27.82,1237.85,0.00,0,361.66,1599.51
4,289.54,1707.060449,3346.382426,1546.938251,83.9,7.38,267.40,0.00,0,22.14,289.54

In [24]:
df_robust_scaled.head()

,customer_id,contract,paperless_billing,payment_method,monthly_ charges,avg_monthly_long_distance_charges,total_charges,total_refunds,total_extra_data_charges,total_long_distance_charges,total_revenue
0,-0.270247,0.735659,0.0,-0.828743,-0.087397,0.717307,-0.236605,0.00,0.0,-0.017786,-0.270247
1,-0.357132,0.000000,-1.0,-0.828743,-0.192272,-0.448777,-0.251635,38.33,10.0,-0.272392,-0.357132
2,-0.403570,0.000000,0.0,0.000000,0.065317,0.395807,-0.328869,0.00,0.0,-0.238132,-0.403570
3,-0.121350,0.000000,0.0,0.000000,0.508740,0.181350,-0.046273,0.00,0.0,-0.035500,-0.121350
4,-0.433580,0.000000,0.0,-0.828743,0.249310,-0.570535,-0.332841,0.00,0.0,-0.338493,-0.433580