In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("london_houses.csv")

In [3]:
df.head(3)

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,Heating Type,Balcony,Interior Style,View,Materials,Building Status,Price (£)
0,78 Regent Street,Notting Hill,2,3,179,72,No,No,3,Semi-Detached,Electric Heating,High-level Balcony,Industrial,Garden,Marble,Renovated,2291200
1,198 Oxford Street,Westminster,2,1,123,34,Yes,No,1,Apartment,Central Heating,High-level Balcony,Industrial,City,Laminate Flooring,Old,1476000
2,18 Regent Street,Soho,5,3,168,38,No,Yes,3,Semi-Detached,Central Heating,No Balcony,Industrial,Street,Wood,Renovated,1881600

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Address          1000 non-null   object
 1   Neighborhood     1000 non-null   object
 2   Bedrooms         1000 non-null   int64
 3   Bathrooms        1000 non-null   int64
 4   Square Meters    1000 non-null   int64
 5   Building Age     1000 non-null   int64
 6   Garden           1000 non-null   object
 7   Garage           1000 non-null   object
 8   Floors           1000 non-null   int64
 9   Property Type    1000 non-null   object
 10  Heating Type     1000 non-null   object
 11  Balcony          1000 non-null   object
 12  Interior Style   1000 non-null   object
 13  View             1000 non-null   object
 14  Materials        1000 non-null   object
 15  Building Status  1000 non-null   object
 16  Price (£)        1000 non-null   int64
dtypes: int64(6), object(11)
memory usage: 132.9+ KB

In [6]:
# Yangi ustunlarni yaratish va ulargi datasetga qo'shish

df["Squared per bedroom"]=df["Square Meters"]/df["Bedrooms"]#Har bir bedroom uchun qancha joy ajratilganini ko'rsatuvchi ustun yaratdim

In [9]:
df.tail(2)

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,Heating Type,Balcony,Interior Style,View,Materials,Building Status,Price (£),Squared per bedroom
998,155 Park Lane,Camden,5,2,131,3,Yes,No,2,Detached House,Underfloor Heating,High-level Balcony,Modern,Park,Laminate Flooring,Renovated,1703000,26.20
999,145 Baker Street,Kensington,4,2,185,53,No,No,1,Apartment,Electric Heating,No Balcony,Modern,Street,Wood,Old,2343333,46.25

In [8]:
df.info() # yangi ustun oxirgi qatordan qo'shilganini ko'rishimiz mumkin

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              1000 non-null   object
 1   Neighborhood         1000 non-null   object
 2   Bedrooms             1000 non-null   int64
 3   Bathrooms            1000 non-null   int64
 4   Square Meters        1000 non-null   int64
 5   Building Age         1000 non-null   int64
 6   Garden               1000 non-null   object
 7   Garage               1000 non-null   object
 8   Floors               1000 non-null   int64
 9   Property Type        1000 non-null   object
 10  Heating Type         1000 non-null   object
 11  Balcony              1000 non-null   object
 12  Interior Style       1000 non-null   object
 13  View                 1000 non-null   object
 14  Materials            1000 non-null   object
 15  Building Status      1000 non-null   object
 16  Price (£)            1000 non-null   int64
 17  Squared per bedroom  1000 non-null   float64
dtypes: float64(1), int64(6), object(11)
memory usage: 140.8+ KB

In [10]:
df["Squared per bedroom"] # yangi qo'shilgan ustunni boshidan 5 ta va oxiridan 5 qatorini qiymatlari

0      89.50
1      61.50
2      33.60
3      47.40
4      31.75
       ...
995    81.00
996    65.00
997    47.75
998    26.20
999    46.25
Name: Squared per bedroom, Length: 1000, dtype: float64

# Ikkinchi boshqa datasetimizda yangi ustunlarni yaratish

In [13]:
df=pd.read_csv("diamonds (cleaned).csv")

In [15]:
df.head(1)

,Shape,Cut,Color,Clarity,Carat Weight,Length/Width Ratio,Depth %,Table %,Polish,Symmetry,Girdle,Culet,Length,Width,Height,Price,Type,Fluorescence
0,Cushion Modified,Ideal,F,VVS2,1.84,1.02,65.8,59.0,Excellent,Very Good,Medium to Thick,NaN,7.09,6.95,4.57,2640,GIA Lab-Grown,NaN

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6485 entries, 0 to 6484
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Shape               6480 non-null   object
 1   Cut                 2182 non-null   object
 2   Color               6480 non-null   object
 3   Clarity             6480 non-null   object
 4   Carat Weight        6480 non-null   float64
 5   Length/Width Ratio  6480 non-null   float64
 6   Depth %             6478 non-null   float64
 7   Table %             6468 non-null   float64
 8   Polish              6465 non-null   object
 9   Symmetry            6465 non-null   object
 10  Girdle              6463 non-null   object
 11  Culet               1891 non-null   object
 12  Length              6465 non-null   float64
 13  Width               6465 non-null   float64
 14  Height              6465 non-null   float64
 15  Price               6485 non-null   int64
 16  Type                6485 non-null   object
 17  Fluorescence        1221 non-null   object
dtypes: float64(7), int64(1), object(10)
memory usage: 912.1+ KB

In [17]:
df["Shape"].value_counts()

Shape
Round               888
Pear                840
Marquise            835
Princess            833
Oval                828
Heart               827
Radiant             801
Cushion Modified    365
Emerald             137
Cushion              91
Square Radiant       35
Name: count, dtype: int64

In [22]:
# Har bir shakl uchun olmosning zijligi va hajmini hisoblab yangi ustunlarnin yaratish va qo'shish

def calculate_volume(row):
    shape=row["Shape"]
    L,W,H=row["Length"],row["Width"],row["Height"]
    
    if shape=="Round":
        return(3.14/4)*L*W*H
    elif shape=="Per" or shape=="Marquise" or shape=="Heart":
        return(3.14/6)*L*W*H
    elif shape=="Oval":
        return(4/3)*3.14*(L/2)*(W/2)*(H/2)
    else: # kvadrat yoki to'g'ri burchakli shakllar uchun
        return L*W*H

In [23]:
df["Volume"]=df.apply(calculate_volume,axis=1) # har bir shakl uchun olmosning hajminin ifodalovchi ustunni yaratib "Volume" deb nomlab
                                             # bu ustunni datasetimizga qo'shdik

In [24]:
# Qo'shilgan yangi ustundan foydalanib har bir olmosning zijligini ifodalovchi ustunni yatatamiz va uni ham datasetimizga qo'shamiz

df["Density"]=df["Carat Weight"]/df["Volume"]

In [25]:
df.tail(2)

,Shape,Cut,Color,Clarity,Carat Weight,Length/Width Ratio,Depth %,Table %,Polish,Symmetry,Girdle,Culet,Length,Width,Height,Price,Type,Fluorescence,Volume,Density
6483,Radiant,NaN,E,VS1,1.06,1.43,67.8,62.0,Excellent,Excellent,Slightly Thick to Thick,NaN,7.24,5.05,3.42,1050,GIA Lab-Grown,NaN,125.042040,0.008477
6484,Emerald,NaN,H,VVS1,1.00,1.36,68.4,66.0,Excellent,Excellent,Slightly Thick to Thick,NaN,6.51,4.77,3.26,2870,GIA,NaN,101.231802,0.009878

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6485 entries, 0 to 6484
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Shape               6480 non-null   object
 1   Cut                 2182 non-null   object
 2   Color               6480 non-null   object
 3   Clarity             6480 non-null   object
 4   Carat Weight        6480 non-null   float64
 5   Length/Width Ratio  6480 non-null   float64
 6   Depth %             6478 non-null   float64
 7   Table %             6468 non-null   float64
 8   Polish              6465 non-null   object
 9   Symmetry            6465 non-null   object
 10  Girdle              6463 non-null   object
 11  Culet               1891 non-null   object
 12  Length              6465 non-null   float64
 13  Width               6465 non-null   float64
 14  Height              6465 non-null   float64
 15  Price               6485 non-null   int64
 16  Type                6485 non-null   object
 17  Fluorescence        1221 non-null   object
 18  Volume              6465 non-null   float64
 19  Density             6465 non-null   float64
dtypes: float64(9), int64(1), object(10)
memory usage: 1013.4+ KB

In [27]:
df["Volume"]

0       225.189035
1       206.754864
2       100.441064
3        89.648374
4       120.190000
           ...
6480    168.739740
6481     90.075225
6482    123.203600
6483    125.042040
6484    101.231802
Name: Volume, Length: 6485, dtype: float64

In [28]:
df["Density"]

0       0.008171
1       0.005804
2       0.011848
3       0.011155
4       0.008403
          ...
6480    0.006045
6481    0.011102
6482    0.008360
6483    0.008477
6484    0.009878
Name: Density, Length: 6485, dtype: float64

#  Boshqa datasetda target variable uchun muhroq bo'lgan yangi ustunlar yaratish va uni datasetga qo'shish

In [2]:
df=pd.read_csv("taxi_trip_pricing.csv")

In [3]:
df.head(1)

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.8,0.32,53.82,36.2624

In [4]:
df.info() # dastlab datasetimizda 11 ta columnlar mavjud ekan

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       950 non-null    float64
 1   Time_of_Day            950 non-null    object
 2   Day_of_Week            950 non-null    object
 3   Passenger_Count        950 non-null    float64
 4   Traffic_Conditions     950 non-null    object
 5   Weather                950 non-null    object
 6   Base_Fare              950 non-null    float64
 7   Per_Km_Rate            950 non-null    float64
 8   Per_Minute_Rate        950 non-null    float64
 9   Trip_Duration_Minutes  950 non-null    float64
 10  Trip_Price             951 non-null    float64
dtypes: float64(7), object(4)
memory usage: 86.1+ KB

In [5]:
# yangi ustunlar yaratish va uni datasetga qo'shish

df["Trip_speed_km/soat"]=df["Trip_Distance_km"]/(df["Trip_Duration_Minutes"]/60) # sayohatda har bir km masofa u.n o'rtacha qanday tezlikdan foydalanganligi 

df["Cost_per_km"]=df["Trip_Price"]/df["Trip_Distance_km"] # har bir km masofaga to'gri keladigan taxi narxi

df["Cost_per_Minute"]=df["Trip_Price"]/df["Trip_Duration_Minutes"] # Har bir daqiqa uchun yo'lovchidan olinadigan narxni ko'rsatadi

In [6]:
df.head(1)

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price,Trip_speed_km/soat,Cost_per_km,Cost_per_Minute
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.8,0.32,53.82,36.2624,21.571906,1.874026,0.673772

In [7]:
df.info() # datasetimizga qo'shimcha yana 3 ta yangi ustunlar qo'shildi

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       950 non-null    float64
 1   Time_of_Day            950 non-null    object
 2   Day_of_Week            950 non-null    object
 3   Passenger_Count        950 non-null    float64
 4   Traffic_Conditions     950 non-null    object
 5   Weather                950 non-null    object
 6   Base_Fare              950 non-null    float64
 7   Per_Km_Rate            950 non-null    float64
 8   Per_Minute_Rate        950 non-null    float64
 9   Trip_Duration_Minutes  950 non-null    float64
 10  Trip_Price             951 non-null    float64
 11  Trip_speed_km/soat     903 non-null    float64
 12  Cost_per_km            901 non-null    float64
 13  Cost_per_Minute        905 non-null    float64
dtypes: float64(10), object(4)
memory usage: 109.5+ KB

In [10]:
df["Trip_speed_km/soat"][:3]

0    21.571906
1    70.382056
2    59.356050
Name: Trip_speed_km/soat, dtype: float64

In [15]:
df["Cost_per_Minute"]

0      0.673772
1           NaN
2      1.419458
3      0.312215
4      0.689841
         ...
995    0.589226
996    1.002736
997    0.611362
998    0.532530
999    1.530606
Name: Cost_per_Minute, Length: 1000, dtype: float64

In [18]:
df["Cost_per_km"]

0      1.874026
1           NaN
2      1.434858
3      1.202433
4           NaN
         ...
995    6.266831
996    1.352111
997    4.301766
998    1.286985
999    1.988783
Name: Cost_per_km, Length: 1000, dtype: float64